<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">PRIT Contact</h2>
                <hr class="primary">
                <p>
                  <div id="kakao-talk-channel-add-button"
                       data-channel-public-id="_xlygexb"
                       data-size="small"
                       data-support-multiple-densities="true" >
                    카카오톡 채널 : <b>prit</b>&nbsp;
                  </div>
                  <a href="tel:070-4300-0833"><b>070-4300-0833</b></a>
                  <br>
                  <a href="https://booking.naver.com/booking/6/bizes/374540/items/3487889">
                    <b>네이버 예약</b>
                  </a>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr>
                상호: 홀인원 | 대표: 박성수 | 사업자등록번호: 257-61-00529
                <br>
                주소: 서울시 강남구 역삼로 17길 51, 511호 | 전화: 070-4300-0833
                <br>
                <a href="terms">이용약관</a>
                &nbsp;&nbsp;
                <a href="privacy">개인정보처리방침</a>
            </div>
        <!-- <div class="col-lg-2 col-lg-offset-2 text-center"> -->
        <!--     <a href="https://twitter.com/{{ site.twitter_username }}"> -->
        <!--         <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i> -->
        <!--         <p>{{ site.twitter_username }}</p> -->
        <!--     </a> -->
        <!-- </div> -->
        <!-- <div class="col-lg-2 col-lg-offset-1 text-center"> -->
        <!--     <a href="mailto:{{ site.email }}"> -->
        <!--     <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i> -->
        <!--         <p>{{ site.email }}</p> -->
        <!--     </a> -->
        <!-- </div> -->
        <!-- <div class="col-lg-2 col-lg-offset-1 text-center"> -->
        <!--     <a href="https://github.com/{{ site.github_username }}"> -->
        <!--     <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i> -->
        <!--         <p>{{ site.github_username }}</p> -->
        <!--     </a> -->
        <!-- </div> -->
    </div>
</section>
